/node_modules
/public/hot
/public/storage
/storage
/vendor
/packages
.history/
.phpintel/
.env
.idea
.phpunit.result.cache
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
*.orig
.vscode/

.php_cs.cache